# Where DATA being analyzed Lives (produced by the BQ Analytics Plugin)
PROJECT_ID="<YOUR_PROJECT_ID>"
DATASET_ID="<YOUR_DATASET_ID>"
DATASET_LOCATION="<YOUR_DATASET_LOCATION>"
TABLE_ID="<YOUR_TABLE_ID>"
#################################

# Agent Configuration to run the analysis (could be setup in a different project/BQ dataset)
AGENT_PROJECT_ID="${PROJECT_ID}"
AGENT_LOCATION="us-central1"
AGENT_MODEL_ID="gemini-2.5-pro"
AGENT_NAME="observability_analyst"
AGENT_CONFIG_FILE="agents/observability_agent/config.json"

# BigQuery Analytics Plugin for agent itself (not for the data being analyzed).
# Better to keep separately from the production data analyzed. Okay to re-use same BQ dataset, but not the table
AGENT_DATASET_ID="${DATASET_ID}"
AGENT_DATASET_LOCATION="${DATASET_LOCATION}"
AGENT_TABLE_ID="observability_agent_events_v1"
GOOGLE_GENAI_USE_VERTEXAI=TRUE

### Test App for Data Generation
TEST_PROJECT_ID="${PROJECT_ID}" # Your Project ID
TEST_AGENT_LOCATION="us-central1"
TEST_BQ_LOCATION="${DATASET_LOCATION}"
TEST_DATASET_ID="${DATASET_ID}"
TEST_TABLE_ID="${TABLE_ID}"
TEST_DATASTORE_ID="observability-docs"
TEST_DATASTORE_LOCATION="global"
TEST_WEB_DATASTORE_ID="adk-web-docs"
TEST_AGENT_MODEL_ID="gemini-2.5-pro"

# Open Telemetry
OTEL_SERVICE_NAME=adk-otel-agent
OTEL_PYTHON_LOGGING_AUTO_INSTRUMENTATION_ENABLED=true
OTEL_INSTRUMENTATION_GENAI_CAPTURE_MESSAGE_CONTENT=true
GOOGLE_CLOUD_AGENT_ENGINE_ENABLE_TELEMETRY=true

# BigQuery internal setup
AGENT_EVENTS_VIEW_ID="agent_events_view"
LLM_EVENTS_VIEW_ID="llm_events_view"
TOOL_EVENTS_VIEW_ID="tool_events_view"


# Configuration
LOG_LEVEL="INFO"
RCA_MAX_CONCURRENT_REQUESTS="10"
INVOCATION_TIMEOUT_MINUTES=5    # After this period any agent execution without a completion event is marked as a PENDING/Timeout error in the views.
MAX_RAW_RECORDS_LIMIT=100000
DEBUG=False # When set to True, the Agent will be analyzing events from itself
