# BigQuery Data for analysis
PROJECT_ID="<YOUR_PROJECT_ID>"
DATASET_ID="<YOUR_DATASET_ID>"
TABLE_ID="<YOUR_TABLE_ID>"
DATASET_LOCATION="us-central1"

# GCP
LOCATION="us-central1"
GOOGLE_GENAI_USE_VERTEXAI=TRUE



# Agent Configuration
AGENT_MODEL_ID="gemini-2.5-pro"
AGENT_REGION="us-central1"
AGENT_NAME="observability_analyst"
LATENCY_ANALYSIS_CONFIG_FILE="agents/observability_agent/config.json"
DATASTORE_ID="observability-docs"
WEB_DATASTORE_ID="adk-web-docs"

# BigQuery Analytics Plugin for agent itself (not for the data being analyzed).
# Better to keep separately from the production data analyzed. Okay to re-use same BQ dataset, but not the table
AGENT_DATASET_ID="${DATASET_ID}"
AGENT_TABLE_ID="observability_agent_events_v1"

# Open Telemetry
OTEL_SERVICE_NAME=adk-otel-agent
OTEL_PYTHON_LOGGING_AUTO_INSTRUMENTATION_ENABLED=true
OTEL_INSTRUMENTATION_GENAI_CAPTURE_MESSAGE_CONTENT=true
GOOGLE_CLOUD_AGENT_ENGINE_ENABLE_TELEMETRY=true

# BigQuery
AGENT_EVENTS_VIEW_ID="agent_events_view"
LLM_EVENTS_VIEW_ID="llm_events_view"
TOOL_EVENTS_VIEW_ID="tool_events_view"

GOOGLE_CLOUD_STAGING_BUCKET="${PROJECT_ID}-staging"

# Debugging
LOG_LEVEL="INFO"
DEBUG=False # When set to True, the Agent will be analyzing events from itself
CACHE_TTL=3600
