db-dtypes
Pillow
tabulate
matplotlib
google-auth
google-adk
google-generativeai
google-genai
google-cloud-bigquery
google-cloud-bigquery-connection
google-cloud-bigquery-storage
google-cloud-storage
google-cloud-trace
google-cloud-resource-manager
google-cloud-logging
pandas
scipy
python-dotenv
google-adk>=1.29.0
numpy
python-dateutil
opentelemetry-instrumentation-google-genai>=0.6b0
google-cloud-bigquery
google-cloud-geminidataanalytics
pydantic-ai
seaborn
md2pdf
google-cloud-geminidataanalytics
requests
uvicorn
a2a-sdk
google-cloud-aiplatform
bigquery-agent-analytics @ git+https://github.com/haiyuan-eng-google/BigQuery-Agent-Analytics-SDK.git
