google-adk @ git+https://github.com/google/adk-python.git@refs/pull/5325/merge
google-genai
httpx
google-auth
google-cloud-aiplatform[agent_engines,a2a]
google-cloud-bigquery
a2a-sdk
nest_asyncio
requests
